@import "./s-dialog/index.scss";


/* 基础样式 */
$base-border: 1px solid #232323;
$base-border-radius: 10px;
$base-padding: 20px;
$base-font-size: 24px;
$base-bc-color: #ffffff;
$base-height: $base-font-size + $base-padding * 2;
$base-icon-height: 35px;
$base-icon-width: $base-icon-height;

@mixin baseIcon() {
	display: inline-block;
	width: $base-icon-width;
	height: $base-icon-height;
	background-image: url(../../assets/pizza.svg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: top;
}

@mixin base-style () {
	border: $base-border;
	border-radius: $base-border-radius;
}

/* 字体样式 */
@font-face {
  font-family: 'iconfont';  /* project id 803196 */
  src: url('//at.alicdn.com/t/font_803196_ajva4hik0og.eot');
  src: url('//at.alicdn.com/t/font_803196_ajva4hik0og.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_803196_ajva4hik0og.woff') format('woff'),
  url('//at.alicdn.com/t/font_803196_ajva4hik0og.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_803196_ajva4hik0og.svg#iconfont') format('svg');
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;/*字体清除锯齿效果*/
	-webkit-text-stroke-width: 0.2px;/*文本外边框大小*/
	-moz-osx-font-smoothing: grayscale;
}

/* s-input 样式 */
$input-border: $base-border;
$input-font-size: 24px;
$input-radius: 10px;
$input-padding: 20px;
$input-outline: none;
$input-display: block;
$input-width: 100%;
$input-line-height: 100px;
@mixin input-mixin () {
	border: $input-border;
	font-size: $input-font-size;
	border-radius: $input-radius;
	padding: $input-padding;
	display: $input-display;
	width: $input-width;
	vertical-align: middle;
	&:focus {
		outline: $input-outline;
	}
}

/* s-input-label 样式 */
$label-font-size: 24px;
@mixin label () {
	padding: $input-padding;
	font-size: $label-font-size;
}

/* 按钮 */
$base-button-font-size: 24px;

/* 公共工具类 */
.block {
	display: block;
}
.inline-block{
	display: inline-block;
}
.inline {
	display: inline;
}


/* 按钮水文 */

.wave {
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 10%, transparent 10.1%);
		background-repeat: no-repeat;
		background-position: 50%;
		transform: scale(10, 10);
		opacity: 0;
		transition: transform .3s, opacity .5s;
	}
	&:active:after{
		opacity: .3;
		transform: scale(0, 0);
		transition: 0s;
	}
}
.out-wave {
	position: relative;
	overflow: visible;
	&:focus{
		outline: none;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		pointer-events: none;
		box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
		border-radius: $base-border-radius;
		background-repeat: no-repeat;
		background-position: 50%;
		opacity: 0;
		transition: all .3s;
	}
	&:active:after {
		content: '';
		opacity: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: 0s;
	}
}

.pull-right{
	float: right;
}

@mixin disabled () {
	border-style: dashed;
	opacity: .6;
}
